{% extends "core/base.html"%}
{% load paginator %}
{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">Recipe Search</a>
</nav>
<div id="searchBox">
    {% block search_box %}
    {% include 'core/search_box.html' %}
    {% endblock search_box %}
</div>

<div style="background-color: #FFFAF0;">
    <div class="container py-4">
        <h4 class="mb-4" style="color: #5a5a5a;">Why not try...</h4>
        <div class="card-column">
            {% for recipe in recipes %}
            {% block recipe_card %}
            {% include 'core/recipe_card.html' %}
            {% endblock recipe_card %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}