{% extends "core/base.html"%}
{% block content%}
{% load static %}

<form action="/" method="get">
  <input id="search_field" type="text" name="search_field" value="{{ current_name }}">
  <input type="hidden" id="include_list" name="include_list" value="">
  <input type="hidden" id="exclude_list" name="exclude_list" value="">
  <input type="submit" value="Search">
</form>
<table id="ingredients_table">
  <tr>
    <th>
      <label for="include_ingredients">Include ingredients:</label>
    </th>
    <th>
      <label for="exclude_ingredients">Exclude ingredients:</label>
    </th>
  </tr>
  <tr>
    <td>
      <input id="include_ingredients"  oninput="add_ingredient()" name="include_ingredients" type="text" list="ingredientlist" Placeholder="Search Ingredients" class="form-control" style="width:300px;">
    </td>
    <td>
      <input id="exclude_ingredients" oninput="exclude_ingredient()"name="exclude_ingredients" type="text" list="ingredientlist" Placeholder="Search Ingredients" class="form-control" style="width:300px;">
    </td>
  </tr>
  <tr>
    <td>
      <ul id="added_ingredients">

      </ul>
    </td>
    <td>
      <ul id="excluded_ingredients">

      </ul>
    </td>
  </tr>
</table>
<button type="button" onclick="ResetIngredients()">Reset</button>
{% if search_exp %}
<p> Search for "{{search_exp}}" returned {{results_count}} results!</p>
{% endif%}
    
    <datalist id="ingredientlist">
 {% for results in ingredients %}
        <option value="{{ results}}">
 {% endfor %}
    </datalist>
        
        {% for recipe in page_obj %}
        
        <article class="media content-section">
            <div class="media-body p-3">
              <table>
                <tr>
                  <th colspan="2">
                    <h2><a class="article-title" href="{{recipe.canonical_url}}">{{ recipe.title }}</a></h2>
                  </th>
                </tr>
                <tr>
                  <td><img src={{recipe.image}} width="150" height="150"></td>
                  <td>
                    <p>Rating: {{recipe.ratings}}</p>
                  </td>
                </tr>
              </table>
              
              
            </div>

          </article>

        {%endfor%}
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
      <script src="{% static '/js/ingredient.js' %}"></script>
{% endblock content %}
