{% block recipe_card %}

{% load utils %}
{% load static %}

<div class="card-block card rec-card mb-3">
  <div class="row no-gutters">
  <a href="{{ recipe.canonical_url }}" target="_blank" class="stretched-link"></a>
    <div class="img-col col-md-2">
      {% if recipe.image and recipe.image != "" %}
        <img src="{{ recipe.image }}" class="card-img" alt="{{ recipe.title }}">
      {% else %}
        <img src="{% static 'img/recipe_default.png' %}" class="card-img" alt="{{ recipe.title }}">
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text favicon-text text-muted float-right">
          <img class="mr-1" src="{{ recipe.source.favicon }}" height="16", width="16">
          {{ recipe.source.title }}
        </p>
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="card-text">
            <ul class="list-inline">
            {% comment %} TODO: is_match needs to be added again somehow {% endcomment %}
              {% for ingredient in recipe.ingredients.all %}
                <li class="list-inline-item {% if ingredient.title|is_within:search_params %} ingr-match {% endif %}">{{ ingredient.title }}</li>
              {% endfor %}
            </ul>
            {% if recipe.ratings %}
              <p class="star-rating">
                {% with round_rating=recipe.ratings|round_number %}
                  <span class="fas fa-star {% if round_rating >= 1 %} checked {% endif %}"></span>
                  <span class="fas fa-star {% if round_rating >= 2 %} checked {% endif %}"></span>
                  <span class="fas fa-star {% if round_rating >= 3 %} checked {% endif %}"></span>
                  <span class="fas fa-star {% if round_rating >= 4 %} checked {% endif %}"></span>
                  <span class="fas fa-star {% if round_rating >= 5 %} checked {% endif %}"></span>
                {% endwith %}
              </p>
            {% endif %}
        </p>
        {% if recipe.total_time %}
          <p class="card-text"><small class="text-muted">{{ recipe.total_time }} minutes</small></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock recipe_card %}
