{% block search_box %}
<form action="new" method="get" id="search_form">
  <input type="hidden" id="search_field" type="text" name="search_field" value="{{ current_name }}">  
  <input type="hidden" id="include_list" name="include_list" value="">
  <input type="hidden" id="exclude_list" name="exclude_list" value="">
</form>
<div class="container p-4">
  <div class="row">
    <div class="col-md-11 p-1">
    <div class="input-group input-group-lg">
        <input type="text" oninput="update_searchfield(this.value)" class="form-control" placeholder="Find a recipe" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit" form="search_form" id="button-addon2">
            <span class="fas fa-search"></span>
          </button>
        </div>
    </div>
    </div>
    <div class="col-md-1 p-1">
      <button class="btn btn-block btn-lg btn-secondary" type="button" data-toggle="collapse" data-target="#advancedSearchBox">
        <span class="fas fa-sliders-h">
      </button>
    </div>
    <div class="collapse container px-0 pt-2" id="advancedSearchBox">
      <div class="card card-body card-block">
        <div class="row">
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <label for="IngrIncludeInput"><h6 style="color: #32ab30; font-weight: 600;">Ingredients to include</h5></label>
                <input type="text" oninput="add_ingredient(this.value)" list="ingredientlist" class="form-control" id="IngrIncludeInput" placeholder="Enter ingredient">
              </div>
            </form>
            
          </div>
          <div class="col-md-8" id="added_ingredients">
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <label for="IngrExcludeInput"><h6 style="color: #eb4034; font-weight: 600;">Ingredients to exclude</h5></label>
                <input type="text"oninput="exclude_ingredient(this.value)" class="form-control" list="ingredientlist" id="IngrExcludeInput" placeholder="Enter ingredient">
              </div>
            </form>
            
          </div>
          <div class="col-md-8" id="excluded_ingredients">
          </div>
        </div>
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" onclick="ResetIngredients()" id="reset_button">
            Reset
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<datalist id="ingredientlist">
  {% for results in ingredients %}
         <option value="{{ results}}">
  {% endfor %}
     </datalist>

{% endblock search_box %}