{% block search_box %}

<div class="container p-4">
  <div class="row">
    <div class="col-md-11 p-1">
      <form id="searchForm" action="/search" method="get" class="input-group input-group-lg">
          <input id="search_field" type="text" name="q" class="form-control" placeholder="Find a recipe" value="{{ search_params.search_exp }}">
          <input type="hidden" id="IncludeListInput" name="include" value="">
          <input type="hidden" id="ExcludeListInput" name="exclude" value="">
          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <span class="fas fa-search"></span>
            </button>
          </div>
      </form>
    </div>
    <div class="col-md-1 p-1">
      <button class="btn btn-block btn-lg btn-secondary" type="button" data-toggle="collapse" data-target="#advancedSearchBox" title="Advanced Search">
        <span class="fas fa-sliders-h">
      </button>
    </div>
    <div class="collapse container px-0 pt-2" id="advancedSearchBox">
      <div class="card card-body card-block">
        <div class="row">
          <div class="col-md-4">
            <label for="IngrIncludeInput"><h6 style="color: #32ab30; font-weight: 600;">Ingredients to include</h5></label>
            <div class="input-group">
              <input type="text" list="IngredientList" autocomplete="off" class="form-control" id="IngrIncludeInput" placeholder="Enter ingredient">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="IngrIncludeButton">
                  <span class="fas fa-arrow-right">
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <ul id="IncludedIngrList" class="list-inline">
              {% for ingr in search_params.included_ingr %}
                <li class="list-inline-item">{{ ingr }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-4">
            <label for="IngrExcludeInput"><h6 style="color: #eb4034; font-weight: 600;">Ingredients to exclude</h5></label>
            <div class="input-group">
              <input type="text" list="IngredientList" autocomplete="off" class="form-control" id="IngrExcludeInput" placeholder="Enter ingredient">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="IngrExcludeButton">
                  <span class="fas fa-arrow-right">
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <ul id="ExcludedIngrList" class="list-inline">
              {% for ingr in search_params.excluded_ingr %}
                <li class="list-inline-item">{{ ingr }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <hr/>
        <div class="container">
          <button id="ClearIngrButton" class="btn btn-danger float-right">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- All Possible Ingredients -->
<datalist id="IngredientList">
  {% for ingredient in ingredients %}
    <option value="{{ ingredient }}">
  {% endfor %}
</datalist>

{{ search_params.included_ingr|json_script:"IncludedIngrData" }}
{{ search_params.excluded_ingr|json_script:"ExcludedIngrData" }}
{{ ingredients|json_script:"AllIngrData" }}

{% endblock search_box %}
